<section class="copyright text-center">
    <small><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</small>
</section>
<section class="poweredby text-center">
    <small class="pull-left">Orgullosamente publicado con <a href="https://ghost.org" target="_blank">Ghost</a></small>
    <small class="pull-right">Alojado en <a href="https://digitalocean.com/" target="_blank">DigitalOcean</a></small>
</section>