
<nav class="pagination" role="navigation">
    <ul class="pager">
    {{#if prev}}
        <li class="previous"><a class="" href="{{page_url prev}}">&larr; Entradas Recientes</a></li>
    {{/if}}
    <li><span class="page-number">Página {{page}} de {{pages}}</span></li>
    {{#if next}}
        <li class="next"><a class="" href="{{page_url next}}">Entradas Anteriores &rarr;</a></li>
    {{/if}}
    </ul>
</nav>
