{{!-- Put your social links --}}
<li><a href="#" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
<li><a href="#" target="_blank"><i class="fa fa-facebook fa-3x"></i></a></li>
<li><a href="#" target="_blank"><i class="fa fa-github fa-3x"></i></a></li>
<li><a href="#" target="_blank"><i class="fa fa-linkedin fa-3x"></i></a></li>
<li><a href="#" target="_blank"><i class="fa fa-google-plus fa-3x"></i></a></li>